<div class="signup-form-container">
	<div class="signup-header">
	  <header>
			<h1>Sign Up</h1>
			<span>and start warbling today!</span>
		</header>
		<%= image_tag 'warbler.png'  %>
	</div>
	<form class="signup-form" action="<%= users_url %>" method="POST">
	<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">
	<div class="form-name">
		<label for="name">Name:</label>
		<input type="text"
			id="name"
			name="user[name]"
			value="<%= @user.name %>">
	</div>
	<div class="form-password">
		<label for="password">Password:</label> 
		<input type="password"
			id="password"
			name="user[password]"
			value="">
		</div>
	<input type="submit"
		value="Sign Up!">
	</form>

</div>