.user-index {
  display: flex;
  justify-content: center;
  width: 350px;
  margin-left: 20px;
  position: relative;
}

.user-index-item {
  cursor: pointer;
} 

.user-show {
  position: absolute;
  top: -195px;
  left: 550px;
  border: 1px solid black;
  width: 250px;
  padding: 10px;
}